node_modules
.next
out
build
.DS_Store
*.pem
*.log
.env
.env.*
!.env.example
db/
*.db
*.db-journal
worklog.md
.zscripts/
scripts/
download/
upload/
export/
local-*
*.tsbuildinfo
next-env.d.ts
.vercel
coverage
